<div class="inference-provider-container">
  <h3>MyCloudInfra</h3>
  <p>High-performance distributed GPU cluster accelerated backend.</p>
  {{{logoSection}}}
  {{{tasksSection}}}
  {{{followUsSection}}}
</div>
