<div class="flex justify-center">
    <a href="{{{providerUrl}}}" target="_blank">
        <img class="block dark:hidden" src="https://huggingface.co/datasets/huggingface/documentation-images/resolve/main/inference-providers/logos/{{provider}}-light.png"/>
        <img class="hidden dark:block" src="https://huggingface.co/datasets/huggingface/documentation-images/resolve/main/inference-providers/logos/{{provider}}-dark.png"/>
    </a>
</div>