name: Model and Dataset Card consistency reminder

on:
  push: # temporary trigger for testing purposes
  pull_request:
    paths:
      - modelcard.md
      - datasetcard.md
      - docs/hub/datasets-cards.md
      - docs/hub/model-cards.md
      - docs/hub/model-card-annotated.md

jobs:
  comment:
    runs-on: ubuntu-latest
    steps:
      - name: maintain-comment
        uses: actions-cool/maintain-one-comment@v3
        with:
          body: |
            It looks like you've updated documentation related to model or dataset cards in this PR.
            Please make sure that the following files stay consistent:
              - [modelcard.md](https://github.com/huggingface/hub-docs/blob/main/modelcard.md)
              - [docs/hub/model-cards.md](https://github.com/huggingface/hub-docs/blob/main/docs/hub/model-cards.md)
              - [docs/hub/model-card-annotated.md](https://github.com/huggingface/hub-docs/blob/main/docs/hub/model-card-annotated.md)
              - [src/.../modelcard_template.md](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/templates/modelcard_template.md) (`huggingface_hub` repo)
              - [src/.../repocard.py](https://github.com/huggingface/huggingface_hub/blob/main/src/huggingface_hub/repocard.py) (`huggingface_hub` repo)
              - [datasetcard.md](https://github.com/huggingface/hub-docs/blob/main/datasetcard.md)
              - [docs/hub/datasets-cards.md](https://github.com/huggingface/hub-docs/blob/main/docs/hub/datasets-cards.md)
          token: ${{ secrets.comment_bot_token }}
          body-include: It looks like you've updated documentation related to model or dataset cards in this PR.
          number: 1186
