name: Build sagemaker PR Documentation

on:
  push:
    paths:
      - "docs/sagemaker/**"
    branches:
      - "*"
      - "!main"

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  build:
    uses: huggingface/doc-builder/.github/workflows/build_pr_documentation.yml@main
    with:
      commit_sha: ${{ github.event.pull_request.head.sha }}
      pr_number: ${{ github.event.number }}
      package: hub-docs
      package_name: sagemaker
      path_to_docs: hub-docs/docs/sagemaker/
      additional_args: --not_python_module
