on:
  push:
    branches:
      - main

jobs:
  createPullRequest:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          repository: huggingface/moon-landing
          ref: "main"
          token: ${{ secrets.MOONLANDING_PUSH }}
          path: "moon-landing"
          submodules: true

      - name: Make changes to pull request
        run: cd moon-landing/server/hub-docs && git checkout origin/main

      - name: Create Pull Request
        id: cpr
        uses: peter-evans/create-pull-request@v4
        with:
          path: "moon-landing"
          token: ${{ secrets.MOONLANDING_PUSH }}
          commit-message: ⬆️ Upgrade hub-docs with https://github.com/huggingface/hub-docs/commit/${{ github.sha }}
          committer: machineuser <tech@huggingface.co>
          author: machineuser <tech@huggingface.co>
          signoff: false
          branch: upgrade-hub-docs
          delete-branch: true
          title: "⬆️ Upgrade hub-docs"
          body: |
            Upgrade hub-docs
            - Auto-generated by [create-pull-request][1]

            [1]: https://github.com/peter-evans/create-pull-request
          draft: false
